### default for all ##
Host *
     ForwardAgent no
     ForwardX11 no
     ForwardX11Trusted yes
     # User ubuntu
     # Port 22
     Protocol 2
     ServerAliveInterval 60
     ServerAliveCountMax 30

## override as per host ##
Host bastion
    HostName 15.4.5.5
    User ubuntu
    Port 22
    IdentityFile /home/hari/inventory/keys/jumppemkeyfile.pem

Host 172.16.*
     User ubuntu
     Port 22
     ProxyCommand ssh -F /ssh/config/Path/ssh_config -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -q -W %h:%p bastion
     #IdentityFile /home/hari/inventory/keys/yourkey.pem
     


### Hey This is just sample file for example.
### if you are unable to configure properly. you may reach me for any support. 
